@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .image-container {
    @apply grid grid-cols-3 gap-3 my-2 xl:my-4 mx-auto w-screen max-w-[1250px] 2xl:max-w-[1000px] xl:grid-cols-2 xl:max-w-[800px] lg:max-w-[580px] md:grid-cols-1 md:max-w-[400px] sm:max-w-[300px];
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}
